# Default ignored files
/../../PP_2.3.1./.idea/shelf/
/../../PP_2.3.1./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../PP_2.3.1./.idea/httpRequests/
# Datasource local storage ignored files
/../../PP_2.3.1./.idea/dataSources/
/../../PP_2.3.1./.idea/dataSources.local.xml
